/* Below animations are fore modal created using React-Modal */

.ReactModal__Overlay {
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms;
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open {
    transform: scale(1);
    /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close {
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.blog-content {
    margin-top: 20px;
    font-size: 20px;
    line-height: 36px;
    /* max-width: 700px; */
}

#root {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
}

nav {
    margin-top: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
    /* display: inline; */
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    z-index: 1;
    top: 60px;
    border-radius: 5px;
}

.dropdown-menu a {
    margin: 0;
    display: block;
}

.dropdown-menu a:not(:last-of-type) {
    margin-bottom: 15px;
}

.bio-content ul {
    list-style-type: circle;
}

.bio-content ul li {
    padding: 8px;
    font-size: 15px;
    color: rgb(124, 139, 161)
}

.cPNtHq p {
    max-width: 65%;
    font-size: 1.5rem;
    font-style: italic;
}
.cPNtHq p span{
    max-width: 65%;
    font-size: 1.5rem;
    font-style: normal;
}
